/* If you don’t like your destiny, don’t accept it. ~apu. */
/* You are my sunshine my only sunshine If it's not you it's not anyoneee ~mehveen. */
/* hello darkness my old friend ~reem */
/* Reyan is SAC and SAC means shy and cute ~mamali. */

*,
::before,
::after {
	box-sizing: border-box;
}



html {
	-moz-tab-size: 4;
	-o-tab-size: 4;
	   tab-size: 4;
}



html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}



body {
	margin: 0;
}



body {
	font-family:
		system-ui,
		-apple-system, 
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
}



hr {
	height: 0; /* 1 */
	color: inherit; /* 2 */
}



abbr[title] {
	-webkit-text-decoration: underline dotted;
	        text-decoration: underline dotted;
}



b,
strong {
	font-weight: bolder;
}



code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
	font-size: 1em; /* 2 */
}



small {
	font-size: 80%;
}



sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}



table {
	text-indent: 0; /* 1 */
	border-color: inherit; /* 2 */
}



button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}



button,
select { /* 1 */
	text-transform: none;
}



button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}



::-moz-focus-inner {
	border-style: none;
	padding: 0;
}



:-moz-focusring {
	outline: 1px dotted ButtonText;
}



:-moz-ui-invalid {
	box-shadow: none;
}


legend {
	padding: 0;
}



progress {
	vertical-align: baseline;
}



::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}


[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}



::-webkit-search-decoration {
	-webkit-appearance: none;
}



::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}


summary {
	display: list-item;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

button {
  background-color: transparent;
  background-image: none;
}

fieldset {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


html {
  font-family: Monument Grotesk; /* 1 */
  line-height: 1.5; /* 2 */
}



body {
  font-family: inherit;
  line-height: inherit;
}



*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: currentColor; /* 2 */
}



hr {
  border-top-width: 1px;
}



img {
  border-style: solid;
}

textarea {
  resize: vertical;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  color: #a1a1aa;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
  color: #a1a1aa;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #a1a1aa;
}

button,
[role="button"] {
  cursor: pointer;
}


 
:-moz-focusring {
	outline: auto;
}

table {
  border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}



a {
  color: inherit;
  text-decoration: inherit;
}



button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}


pre,
code,
kbd,
samp {
  font-family: Monument Grotesk Mono;
}



img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}


img,
video {
  max-width: 100%;
  height: auto;
}


[hidden] {
  display: none;
}

*, ::before, ::after {
	--tw-translate-x: 0;
	--tw-translate-y: 0;
	--tw-rotate: 0;
	--tw-skew-x: 0;
	--tw-skew-y: 0;
	--tw-scale-x: 1;
	--tw-scale-y: 1;
	--tw-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
	border-color: currentColor;
	--tw-ring-offset-shadow: 0 0 #0000;
	--tw-ring-shadow: 0 0 #0000;
	--tw-shadow: 0 0 #0000;
}.pointer-events-none {
	pointer-events: none;
}.pointer-events-auto {
	pointer-events: auto;
}.invisible {
	visibility: hidden;
}.fixed {
	position: fixed;
}.absolute {
	position: absolute;
}.relative {
	position: relative;
}.inset-0 {
	top: 0rem;
	right: 0rem;
	bottom: 0rem;
	left: 0rem;
}.inset-5 {
	top: 0.5rem;
	right: 0.5rem;
	bottom: 0.5rem;
	left: 0.5rem;
}.inset-x-\[-150\%\] {
	left: -150%;
	right: -150%;
}.top-full {
	top: 100%;
}.top-\[3rem\] {
	top: 3rem;
}.right-\[3rem\] {
	right: 3rem;
}.bottom-\[3rem\] {
	bottom: 3rem;
}.left-\[2rem\] {
	left: 2rem;
}.right-\[2rem\] {
	right: 2rem;
}.left-0 {
	left: 0rem;
}.bottom-1\/4 {
	bottom: 25%;
}.bottom-0 {
	bottom: 0rem;
}.top-0 {
	top: 0rem;
}.top-\[2rem\] {
	top: 2rem;
}.top-1\/2 {
	top: 50%;
}.top-\[7rem\] {
	top: 7rem;
}.left-1\/2 {
	left: 50%;
}.top-\[0\.2em\] {
	top: 0.2em;
}.top-\[4rem\] {
	top: 4rem;
}.right-0 {
	right: 0rem;
}.bottom-\[2rem\] {
	bottom: 2rem;
}.z-\[9999\] {
	z-index: 9999;
}.z-10 {
	z-index: 10;
}.z-\[1000\] {
	z-index: 1000;
}.z-2 {
	z-index: 2;
}.z-1 {
	z-index: 1;
}.z-\[-1\] {
	z-index: -1;
}.z-3 {
	z-index: 3;
}.z-\[100\] {
	z-index: 100;
}.z-5 {
	z-index: 5;
}.col-span-11 {
	grid-column: span 11 / span 11;
}.col-span-3 {
	grid-column: span 3 / span 3;
}.col-span-4 {
	grid-column: span 4 / span 4;
}.col-span-12 {
	grid-column: span 12 / span 12;
}.col-span-1 {
	grid-column: span 1 / span 1;
}.col-span-5 {
	grid-column: span 5 / span 5;
}.col-span-13 {
	grid-column: span 13 / span 13;
}.col-span-22 {
	grid-column: span 22 / span 22;
}.col-span-9 {
	grid-column: span 9 / span 9;
}.col-span-10 {
	grid-column: span 10 / span 10;
}.col-span-8 {
	grid-column: span 8 / span 8;
}.col-span-2 {
	grid-column: span 2 / span 2;
}.col-span-7 {
	grid-column: span 7 / span 7;
}.col-start-6 {
	grid-column-start: 6;
}.col-start-18 {
	grid-column-start: 18;
}.col-start-13 {
	grid-column-start: 13;
}.col-start-1 {
	grid-column-start: 1;
}.col-start-2 {
	grid-column-start: 2;
}.col-start-15 {
	grid-column-start: 15;
}.col-start-14 {
	grid-column-start: 14;
}.mx-auto {
	margin-left: auto;
	margin-right: auto;
}.mx-\[-1px\] {
	margin-left: -1px;
	margin-right: -1px;
}.my-50 {
	margin-top: 5rem;
	margin-bottom: 5rem;
}.mt-20 {
	margin-top: 2rem;
}.mr-50 {
	margin-right: 5rem;
}.mr-8 {
	margin-right: 0.8rem;
}.mt-25 {
	margin-top: 2.5rem;
}.mt-35 {
	margin-top: 3.5rem;
}.mt-125 {
	margin-top: 12.5rem;
}.mt-45 {
	margin-top: 4.5rem;
}.mt-5 {
	margin-top: 0.5rem;
}.mt-100 {
	margin-top: 10rem;
}.mb-10 {
	margin-bottom: 1rem;
}.ml-95 {
	margin-left: 9.5rem;
}.ml-\[0\.07em\] {
	margin-left: 0.07em;
}.ml-\[1\.1rem\] {
	margin-left: 1.1rem;
}.mt-10 {
	margin-top: 1rem;
}.ml-auto {
	margin-left: auto;
}.ml-\[-0\.07em\] {
	margin-left: -0.07em;
}.-ml-10 {
	margin-left: -1rem;
}.mb-20 {
	margin-bottom: 2rem;
}.mt-90 {
	margin-top: 9rem;
}.mt-30 {
	margin-top: 3rem;
}.ml-8 {
	margin-left: 0.8rem;
}.mb-50 {
	margin-bottom: 5rem;
}.mt-50 {
	margin-top: 5rem;
}.mb-30 {
	margin-bottom: 3rem;
}.mb-100 {
	margin-bottom: 10rem;
}.mt-40 {
	margin-top: 4rem;
}.mb-40 {
	margin-bottom: 4rem;
}.ml-15 {
	margin-left: 1.5rem;
}.ml-10 {
	margin-left: 1rem;
}.ml-20 {
	margin-left: 2rem;
}.mr-80 {
	margin-right: 8rem;
}.mr-30 {
	margin-right: 3rem;
}.mr-10 {
	margin-right: 1rem;
}.block {
	display: block;
}.flex {
	display: flex;
}.inline-flex {
	display: inline-flex;
}.grid {
	display: grid;
}.hidden {
	display: none;
}.h-\[13\.75rem\] {
	height: 13.75rem;
}.h-\[4rem\] {
	height: 4rem;
}.h-\[50px\] {
	height: 50px;
}.h-\[3px\] {
	height: 3px;
}.h-extra-screen {
	height: calc((var(--vh) * 100) + 4rem);
}.h-\[60rem\] {
	height: 60rem;
}.h-\[5rem\] {
	height: 5rem;
}.h-almost-screen {
	height: calc((var(--vh) * 100) - 6rem - 50px);
}.h-\[3\.9rem\] {
	height: 3.9rem;
}.h-\[50rem\] {
	height: 50rem;
}.h-full-screen {
	height: calc(var(--vh) * 100);
}.h-\[6\.1rem\] {
	height: 6.1rem;
}.h-auto {
	height: auto;
}.max-h-\[50rem\] {
	max-height: 50rem;
}.max-h-full {
	max-height: 100%;
}.w-\[4rem\] {
	width: 4rem;
}.w-full {
	width: 100%;
}.w-auto {
	width: auto;
}.w-\[24rem\] {
	width: 24rem;
}.w-\[1\.25rem\] {
	width: 1.25rem;
}.w-\[27rem\] {
	width: 27rem;
}.w-\[3\.9rem\] {
	width: 3.9rem;
}.w-\[30rem\] {
	width: 30rem;
}.w-\[15rem\] {
	width: 15rem;
}.w-\[1\.7rem\] {
	width: 1.7rem;
}.w-1\/2 {
	width: 50%;
}.min-w-\[24rem\] {
	min-width: 24rem;
}.min-w-\[1\.25rem\] {
	min-width: 1.25rem;
}.min-w-\[6\.1rem\] {
	min-width: 6.1rem;
}.max-w-row {
	max-width: 140rem;
}.max-w-\[50rem\] {
	max-width: 50rem;
}.max-w-\[6\.1rem\] {
	max-width: 6.1rem;
}.max-w-\[20rem\] {
	max-width: 20rem;
}.flex-1 {
	flex: 1 1 0%;
}.origin-left {
	transform-origin: left;
}.-translate-y-1\/2 {
	--tw-translate-y: -50%;
	transform: var(--tw-transform);
}.-translate-x-1\/2 {
	--tw-translate-x: -50%;
	transform: var(--tw-transform);
}.-rotate-90 {
	--tw-rotate: -90deg;
	transform: var(--tw-transform);
}.scale-x-\[-1\] {
	--tw-scale-x: -1;
	transform: var(--tw-transform);
}.transform {
	transform: var(--tw-transform);
}.cursor-pointer {
	cursor: pointer;
}.cursor-move {
	cursor: move;
}.select-none {
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}.grid-cols-20 {
	grid-template-columns: repeat(20, minmax(0, 1fr));
}.grid-cols-2 {
	grid-template-columns: repeat(2, minmax(0, 1fr));
}.grid-cols-6 {
	grid-template-columns: repeat(6, minmax(0, 1fr));
}.grid-cols-1 {
	grid-template-columns: repeat(1, minmax(0, 1fr));
}.grid-cols-24 {
	grid-template-columns: repeat(24, minmax(0, 1fr));
}.grid-cols-5 {
	grid-template-columns: repeat(5, minmax(0, 1fr));
}.flex-col {
	flex-direction: column;
}.items-start {
	align-items: flex-start;
}.items-end {
	align-items: flex-end;
}.items-center {
	align-items: center;
}.justify-center {
	justify-content: center;
}.justify-between {
	justify-content: space-between;
}.gap-20 {
	gap: 2rem;
}.gap-y-20 {
	row-gap: 2rem;
}.gap-x-20 {
	-moz-column-gap: 2rem;
	     column-gap: 2rem;
}.gap-y-50 {
	row-gap: 5rem;
}.gap-y-25 {
	row-gap: 2.5rem;
}.gap-y-10 {
	row-gap: 1rem;
}.overflow-hidden {
	overflow: hidden;
}.whitespace-nowrap {
	white-space: nowrap;
}.rounded-full {
	border-radius: 9999px;
}.rounded-\[12px\] {
	border-radius: 12px;
}.rounded-\[2rem\] {
	border-radius: 2rem;
}.rounded-\[1\.2rem\] {
	border-radius: 1.2rem;
}.rounded-\[1\.5rem\] {
	border-radius: 1.5rem;
}.rounded-t-\[4rem\] {
	border-top-left-radius: 4rem;
	border-top-right-radius: 4rem;
}.rounded-b-\[1\.2rem\] {
	border-bottom-right-radius: 1.2rem;
	border-bottom-left-radius: 1.2rem;
}.border-\[0\.7rem\] {
	border-width: 0.7rem;
}.border-white {
	--tw-border-opacity: 1;
	border-color: rgba(244, 240, 240, var(--tw-border-opacity));
}.bg-black {
	--tw-bg-opacity: 1;
	background-color: rgba(29, 27, 27, var(--tw-bg-opacity));
}.bg-black\/40 {
	background-color: rgba(29, 27, 27, 0.4);
}.bg-white {
	--tw-bg-opacity: 1;
	background-color: rgba(244, 240, 240, var(--tw-bg-opacity));
}.bg-\[\#eee\] {
	--tw-bg-opacity: 1;
	background-color: rgba(238, 238, 238, var(--tw-bg-opacity));
}.bg-opacity-50 {
	--tw-bg-opacity: 0.5;
}.bg-opacity-\[0\.3\] {
	--tw-bg-opacity: 0.3;
}.bg-opacity-30 {
	--tw-bg-opacity: 0.3;
}.bg-opacity-20 {
	--tw-bg-opacity: 0.2;
}.object-cover {
	-o-object-fit: cover;
	   object-fit: cover;
}.p-20 {
	padding: 2rem;
}.px-\[18px\] {
	padding-left: 18px;
	padding-right: 18px;
}.px-20 {
	padding-left: 2rem;
	padding-right: 2rem;
}.px-\[1px\] {
	padding-left: 1px;
	padding-right: 1px;
}.px-10 {
	padding-left: 1rem;
	padding-right: 1rem;
}.pr-10 {
	padding-right: 1rem;
}.pb-\[0\.125em\] {
	padding-bottom: 0.125em;
}.pb-\[2px\] {
	padding-bottom: 2px;
}.pt-40 {
	padding-top: 4rem;
}.pt-70 {
	padding-top: 7rem;
}.pb-50 {
	padding-bottom: 5rem;
}.pl-95 {
	padding-left: 9.5rem;
}.pr-40 {
	padding-right: 4rem;
}.pb-190 {
	padding-bottom: 19rem;
}.pt-8 {
	padding-top: 0.8rem;
}.pl-5 {
	padding-left: 0.5rem;
}.pb-100 {
	padding-bottom: 10rem;
}.pb-5 {
	padding-bottom: 0.5rem;
}.pb-\[0\.1em\] {
	padding-bottom: 0.1em;
}.pt-170 {
	padding-top: 17rem;
}.pb-40 {
	padding-bottom: 4rem;
}.pb-20 {
	padding-bottom: 2rem;
}.pb-30 {
	padding-bottom: 3rem;
}.pt-15 {
	padding-top: 1.5rem;
}.pb-10 {
	padding-bottom: 1rem;
}.pt-10 {
	padding-top: 1rem;
}.text-left {
	text-align: left;
}.text-center {
	text-align: center;
}.text-right {
	text-align: right;
}.text-\[15rem\] {
	font-size: 15rem;
}.text-20 {
	font-size: 2rem;
}.text-\[14px\] {
	font-size: 14px;
}.text-30 {
	font-size: 3rem;
}.text-12 {
	font-size: 1.2rem;
}.text-15 {
	font-size: 1.5rem;
}.text-25 {
	font-size: 2.5rem;
}.text-18 {
	font-size: 1.8rem;
}.text-\[9\.4rem\] {
	font-size: 9.4rem;
}.text-14 {
	font-size: 1.4rem;
}.text-50 {
	font-size: 5rem;
}.text-16 {
	font-size: 1.6rem;
}.font-bold {
	font-weight: 700;
}.uppercase {
	text-transform: uppercase;
}.capitalize {
	text-transform: capitalize;
}.italic {
	font-style: italic;
}.leading-\[0\.85\] {
	line-height: 0.85;
}.leading-none {
	line-height: 1;
}.leading-\[1\.3\] {
	line-height: 1.3;
}.leading-\[0\.75\] {
	line-height: 0.75;
}.leading-\[0\.8\] {
	line-height: 0.8;
}.text-white {
	--tw-text-opacity: 1;
	color: rgba(244, 240, 240, var(--tw-text-opacity));
}.text-gray {
	--tw-text-opacity: 1;
	color: rgba(122, 122, 122, var(--tw-text-opacity));
}.opacity-0 {
	opacity: 0;
}.shadow-xl {
	--tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}.shadow-md {
	--tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}@font-face{font-family:"Monument Grotesk";src:url(MonumentGrotesk-Regular.woff2) format("woff2"),url(MonumentGrotesk-Regular.woff) format("woff");font-weight:normal;font-style:normal;font-display:swap}@font-face{font-family:"Monument Grotesk";src:url(MonumentGrotesk-Italic.woff2) format("woff2"),url(MonumentGrotesk-Italic.woff) format("woff");font-weight:normal;font-style:italic;font-display:swap}@font-face{font-family:"Monument Grotesk";src:url(MonumentGrotesk-Bold.woff2) format("woff2"),url(MonumentGrotesk-Bold.woff) format("woff");font-weight:bold;font-style:normal;font-display:swap}:root{--size: 375}@media(min-width: 650px){:root{--size: 1440}}html{font-size:clamp(0px,12px,10 * (100vw / var(--size)));-webkit-text-size-adjust:none;-webkit-font-smoothing:subpixel-antialiased;-webkit-font-smoothing:antialiased;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color:transparent}html,body{-ms-scroll-chaining:none;overscroll-behavior:none;width:100%;height:100%}body{font-size:1.8rem;line-height:1.2;overflow:hidden;--tw-bg-opacity: 1;background-color: rgba(244, 240, 240, var(--tw-bg-opacity))}body.is-loading{cursor:wait}button,input{font-family:inherit;border-radius:0;-webkit-appearance:none;-moz-appearance:none;appearance:none}input{background-color:transparent;border:0;outline:0}img{width:100%}::-moz-placeholder{font-family:inherit;font-weight:normal;color:rgba(0,0,0,.4)}:-ms-input-placeholder{font-family:inherit;font-weight:normal;color:rgba(0,0,0,.4)}::placeholder{font-family:inherit;font-weight:normal;color:rgba(0,0,0,.4)}.vh{height:calc(var(--vh)*100)}[data-router-wrapper],[data-router-view]{position:fixed;top:0;left:0;height:100%;width:100%;overflow:hidden}[data-lazy-src]:not(.no-fade),[data-src]:not(.no-fade){opacity:0;transition:opacity .5s ease}[data-lazy-src]:not(.no-fade).is-loaded,[data-src]:not(.no-fade).is-loaded{opacity:1}.aspect{padding-top:var(--aspect)}.aspect-x{padding-left:var(--aspect)}.media-fill img,.media-fill video{position:absolute;top:0;left:0;width:100%;height:100%;-o-object-fit:cover;object-fit:cover}.media-cover {
	position: absolute;
	top: 0rem;
	left: 0rem;
	height: 100%;
	width: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}.scrollable {
	position: fixed;
	top: 0rem;
	right: 0rem;
	bottom: 0rem;
	left: 0rem;
}@media(max-width: 649px){.intro-desc br,.no-br br{display:none}}.grid-focused{max-height:calc(var(--vh)*60)}.gl{position:absolute;bottom:0;left:0;width:100%;height:100%}@media(max-width: 649px){.home .gl{height:calc(var(--vh)*100 + 4rem) !important}}@media(min-width: 650px){.gradient{-webkit-clip-path:inset(2rem 2rem 2rem 2rem round 1.2rem);clip-path:inset(2rem 2rem 2rem 2rem round 1.2rem);transition:-webkit-clip-path 1s cubic-bezier(0.19, 1, 0.22, 1);transition:clip-path 1s cubic-bezier(0.19, 1, 0.22, 1);transition:clip-path 1s cubic-bezier(0.19, 1, 0.22, 1), -webkit-clip-path 1s cubic-bezier(0.19, 1, 0.22, 1)}.is-loading .gradient{-webkit-clip-path:inset(0 round 0);clip-path:inset(0 round 0)}}.case-inset{-webkit-clip-path:inset(8rem 0 0 0 round 1.2rem 1.2rem 0 0);clip-path:inset(8rem 0 0 0 round 1.2rem 1.2rem 0 0);will-change:transform}@media(min-width: 650px){.case-inset{-webkit-clip-path:inset(8rem 2rem 0 2rem round 1.2rem 1.2rem 0 0);clip-path:inset(8rem 2rem 0 2rem round 1.2rem 1.2rem 0 0)}}.three-component{display:grid;grid-gap:2rem}@media(min-width: 650px){.three-component-wrap{padding-top:52.4%}.three-component{grid-template-columns:1fr 1fr 1fr}.three-component:not(.--reverse){grid-template-areas:"small-1 big big" "small-2 big big"}.three-component.--reverse{grid-template-areas:"big big small-1" "big big small-2"}.three-component>*:first-child{grid-area:small-1}.three-component>*:nth-child(2){grid-area:small-2}.three-component>*:last-child{grid-area:big}}.wct{will-change:transform}.bfv{-webkit-backface-visibility:hidden;backface-visibility:hidden}.hide-br br{display:none}.uline{position:relative}.uline:after{content:"";position:absolute;bottom:.125em;left:0;width:100%;border-top:1px solid currentColor}@media(hover: hover){.uline:after{transition:transform .5s cubic-bezier(0.19, 1, 0.22, 1);transform-origin:left;transform:scaleX(1)}.uline:hover:after{transform-origin:right;transform:scaleX(0)}}.txt>*:not(:last-child){margin-bottom:3rem}.txt.--case-about>p{text-indent:5rem}.txt a{position:relative}.txt a:after{content:"";position:absolute;bottom:.125em;left:0;width:100%;border-top:1px solid currentColor}@media(hover: hover){.txt a:after{transition:transform .5s cubic-bezier(0.19, 1, 0.22, 1);transform-origin:left;transform:scaleX(1)}.txt a:hover:after{transform-origin:right;transform:scaleX(0)}}.title-perspective{perspective:400px}.title-perspective span{transform-origin:top}.menu{will-change:transform;--duration: 1s;--duration-out: .35s;--delay: .25s;transition:opacity var(--duration) cubic-bezier(0.19, 1, 0.22, 1);opacity:1}body:not(.is-safari) .menu{-webkit-backdrop-filter:blur(12px);backdrop-filter:blur(12px)}.menu:before{transition:transform var(--duration) cubic-bezier(0.19, 1, 0.22, 1),opacity var(--duration) cubic-bezier(0.19, 1, 0.22, 1);transition-delay:0s;transform:scaleX(1);opacity:1}.menu__inner{transition:-webkit-clip-path var(--duration) cubic-bezier(0.19, 1, 0.22, 1);transition:clip-path var(--duration) cubic-bezier(0.19, 1, 0.22, 1);transition:clip-path var(--duration) cubic-bezier(0.19, 1, 0.22, 1), -webkit-clip-path var(--duration) cubic-bezier(0.19, 1, 0.22, 1);transition-delay:0s;-webkit-clip-path:inset(0 0 0 0 round 12px);clip-path:inset(0 0 0 0 round 12px)}.is-loaded .menu__inner{transition-delay:var(--delay)}.is-loading .menu__inner{-webkit-clip-path:inset(0 50% 0 50% round 12px);clip-path:inset(0 50% 0 50% round 12px)}.page-case .menu__inner,.page-protected .menu__inner{-webkit-clip-path:inset(0 50% 0 50% round 12px);clip-path:inset(0 50% 0 50% round 12px);transition:-webkit-clip-path var(--duration-out) ease;transition:clip-path var(--duration-out) ease;transition:clip-path var(--duration-out) ease, -webkit-clip-path var(--duration-out) ease;transition-delay:0s}.menu__content{transition:opacity var(--duration) cubic-bezier(0.25, 0.46, 0.45, 0.94);opacity:1}.is-loading .menu__content{opacity:0}.page-case .menu,.page-protected .menu{pointer-events:none}.menu-mask{-webkit-clip-path:inset(0 8rem 0 2rem round 12px);clip-path:inset(0 8rem 0 2rem round 12px)}.is-loaded .menu:before{transition-delay:var(--delay)}.page-case .menu,.page-protected .menu{opacity:0}.page-case .menu:before,.page-protected .menu:before{transition:transform var(--duration-out) ease,opacity var(--duration-out);transform:scaleX(0);opacity:0}.is-loading .menu:before{transform:scaleX(0);opacity:0}@media(min-width: 650px){.case-tile{-webkit-clip-path:inset(0 round 1.75rem);clip-path:inset(0 round 1.75rem);transition:-webkit-clip-path .5s cubic-bezier(0.19, 1, 0.22, 1);transition:clip-path .5s cubic-bezier(0.19, 1, 0.22, 1);transition:clip-path .5s cubic-bezier(0.19, 1, 0.22, 1), -webkit-clip-path .5s cubic-bezier(0.19, 1, 0.22, 1)}.case-tile__content{transition:opacity,.5s cubic-bezier(0.19, 1, 0.22, 1);opacity:0}.case-tile:hover .case-tile__content{opacity:1}.--big .case-tile__title{font-size:5.2rem}.--medium .case-tile__title,.--medium-m .case-tile__title{font-size:4rem}.--small .case-tile__title{font-size:3rem}.--big .case-tile__title span{max-width:35rem}.--medium .case-tile__title span,.--medium-m .case-tile__title span{max-width:30rem}.--small .case-tile__title span{max-width:25rem}.case-tile:hover{-webkit-clip-path:inset(0 round 0rem);clip-path:inset(0 round 0rem)}}.case-tile__link{cursor:none}.--big .case-tile__link,.--medium .case-tile__link,.--medium-m .case-tile__link{padding-top:130%}.--small .case-tile__link{padding-top:75%}.--replacement .case-tile__link{padding-top:0}@media(min-width: 650px){.--big .case-tile__link{padding-top:56.25%}.--medium .case-tile__link{padding-top:75%}.--medium-m .case-tile__link,.--small .case-tile__link{padding-top:0%;position:absolute;top:0;left:0;width:100%;height:100%}}.case-open-site{transition:opacity 1s cubic-bezier(0.19, 1, 0.22, 1);opacity:0}.case-open-site:before{transition:transform .25s ease,opacity .25s ease;transform:scaleX(0);opacity:0}.is-active .case-open-site{opacity:1}.is-active .case-open-site:before{transition:transform 1s cubic-bezier(0.19, 1, 0.22, 1),opacity 1s cubic-bezier(0.19, 1, 0.22, 1);transform:scaleX(1);opacity:1}.case-open-site__inner{-webkit-clip-path:inset(0 50% 0 50% round 999px);clip-path:inset(0 50% 0 50% round 999px);transition:-webkit-clip-path .25s ease;transition:clip-path .25s ease;transition:clip-path .25s ease, -webkit-clip-path .25s ease}.is-active .case-open-site__inner{transition:-webkit-clip-path 1s cubic-bezier(0.19, 1, 0.22, 1);transition:clip-path 1s cubic-bezier(0.19, 1, 0.22, 1);transition:clip-path 1s cubic-bezier(0.19, 1, 0.22, 1), -webkit-clip-path 1s cubic-bezier(0.19, 1, 0.22, 1);-webkit-clip-path:inset(0 0 0 0 round 999px);clip-path:inset(0 0 0 0 round 999px)}.close-btn{--transition: transform .5s cubic-bezier(0.17,0.84,0.44,1)}.close-btn.--case{transition:opacity .5s cubic-bezier(0.19, 1, 0.22, 1);opacity:0}.is-active .close-btn.--case{opacity:1}.close-btn:after{content:"";position:absolute;right:0;top:0;width:1rem;height:100%;z-index:5;--tw-bg-opacity: 1;background-color: rgba(29, 27, 27, var(--tw-bg-opacity))}.close-btn__x{transform:rotate(0);transition:var(--transition)}.close-btn__x:before,.close-btn__x:after{content:"";position:absolute;top:50%;left:50%;height:2px;width:2rem}.close-btn__x:before, .close-btn__x:after {
	--tw-bg-opacity: 1;
	background-color: rgba(244, 240, 240, var(--tw-bg-opacity));
}.close-btn__x:before{transform:translate(-50%, -50%) rotate(45deg)}.close-btn__x:after{transform:translate(-50%, -50%) rotate(-45deg)}@media(hover: hover){.close-btn:hover .close-btn__x{transform:rotate(-90deg)}}.close-btn__inner{transition:var(--transition);transform:translate3d(100%, 0, 0) translate3d(-3.9rem, 0, 0);will-change:transform}@media(hover: hover){.close-btn:hover .close-btn__inner{transform:translate3d(0, 0, 0)}}.close-btn__text{transition:var(--transition)}@media(hover: hover){.close-btn:hover .close-btn__text{transform:translateX(-0.25rem)}}.shadow-bottom:after{box-shadow:0 5.5rem 4rem -5rem rgba(0,0,0,.4)}.shadow-bottom.is-out:after{transition:opacity .25s ease-out;opacity:0}.next-inset{--top: calc((var(--vh) * 100) - 50rem);-webkit-clip-path:inset(var(--top) 2rem 2rem round 1.2rem);clip-path:inset(var(--top) 2rem 2rem round 1.2rem);transition:-webkit-clip-path .4s cubic-bezier(0.165, 0.84, 0.44, 1);transition:clip-path .4s cubic-bezier(0.165, 0.84, 0.44, 1);transition:clip-path .4s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-clip-path .4s cubic-bezier(0.165, 0.84, 0.44, 1);will-change:transform}@media(min-width: 650px){.next-inset{--top: calc((var(--vh) * 100) - 65rem)}}.next-inset.is-active{-webkit-clip-path:inset(0 0 0 0 round 0);clip-path:inset(0 0 0 0 round 0)}.is-active .next__content{transition:opacity .4s cubic-bezier(0.165, 0.84, 0.44, 1),transform .4s cubic-bezier(0.165, 0.84, 0.44, 1);transform:translate3d(0, -3rem, 0);opacity:0}.carousel{cursor:-webkit-grab;cursor:grab}.carousel-width{width:var(--width)}.carousel-height{padding-top:var(--aspect)}.story{--min-width: 30vh;--margin-left: calc(var(--min-width) * -.5);-ms-scroll-chaining:none;overscroll-behavior:none}@media(min-width: 650px){.story{--min-width: 37.5vh}}.story-slides{margin-left:var(--margin-left)}.story-slide{min-width:var(--min-width);max-width:100vw}.story-controls-btn{transition:opacity .35s cubic-bezier(0.25, 0.46, 0.45, 0.94)}.story-controls-btn.is-deactivated{pointer-events:none;opacity:0}.form input{border-bottom:1px solid rgba(0,0,0,.4)}.form div span{opacity:0}.form.is-error div{color:red}.form.is-error div input{border-color:red}.form.is-error div span{opacity:1}.before\:absolute::before {
	content: "";
	position: absolute;
}.before\:inset-0::before {
	content: "";
	top: 0rem;
	right: 0rem;
	bottom: 0rem;
	left: 0rem;
}.before\:z-1::before {
	content: "";
	z-index: 1;
}.before\:rounded-\[12px\]::before {
	content: "";
	border-radius: 12px;
}.before\:rounded-full::before {
	content: "";
	border-radius: 9999px;
}.before\:shadow-md::before {
	content: "";
	--tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}.before\:shadow-lg::before {
	content: "";
	--tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}.after\:absolute::after {
	content: "";
	position: absolute;
}.after\:inset-0::after {
	content: "";
	top: 0rem;
	right: 0rem;
	bottom: 0rem;
	left: 0rem;
}.after\:top-\[\.85rem\]::after {
	content: "";
	top: .85rem;
}.after\:right-0::after {
	content: "";
	right: 0rem;
}.after\:right-\[-\.85rem\]::after {
	content: "";
	right: -.85rem;
}.after\:z-\[-1\]::after {
	content: "";
	z-index: -1;
}.after\:h-\[1\.1rem\]::after {
	content: "";
	height: 1.1rem;
}.after\:w-\[1\.1rem\]::after {
	content: "";
	width: 1.1rem;
}.after\:rounded-full::after {
	content: "";
	border-radius: 9999px;
}.after\:bg-current::after {
	content: "";
	background-color: currentColor;
}.after\:text-8::after {
	content: "";
	font-size: 0.8rem;
}.after\:content-\[\'1\'\]::after {
	content: '1';
}.after\:content-\[\'2\'\]::after {
	content: '2';
}.after\:content-\[\'3\'\]::after {
	content: '3';
}@media (min-width: 415px) {

	.xs\:left-1\/2 {
		left: 50%;
	}

	.xs\:right-auto {
		right: auto;
	}

	.xs\:-translate-x-1\/2 {
		--tw-translate-x: -50%;
		transform: var(--tw-transform);
	}
}@media (min-width: 650px) {

	.s\:absolute {
		position: absolute;
	}

	.s\:inset-0 {
		top: 0rem;
		right: 0rem;
		bottom: 0rem;
		left: 0rem;
	}

	.s\:inset-x-\[-50\%\] {
		left: -50%;
		right: -50%;
	}

	.s\:top-\[6rem\] {
		top: 6rem;
	}

	.s\:right-\[8rem\] {
		right: 8rem;
	}

	.s\:bottom-\[4rem\] {
		bottom: 4rem;
	}

	.s\:top-auto {
		top: auto;
	}

	.s\:bottom-\[5rem\] {
		bottom: 5rem;
	}

	.s\:left-\[7\.5rem\] {
		left: 7.5rem;
	}

	.s\:right-\[7\.5rem\] {
		right: 7.5rem;
	}

	.s\:top-\[10rem\] {
		top: 10rem;
	}

	.s\:left-\[3rem\] {
		left: 3rem;
	}

	.s\:order-first {
		order: -9999;
	}

	.s\:col-span-6 {
		grid-column: span 6 / span 6;
	}

	.s\:col-span-4 {
		grid-column: span 4 / span 4;
	}

	.s\:col-span-5 {
		grid-column: span 5 / span 5;
	}

	.s\:col-span-3 {
		grid-column: span 3 / span 3;
	}

	.s\:col-span-2 {
		grid-column: span 2 / span 2;
	}

	.s\:col-start-6 {
		grid-column-start: 6;
	}

	.s\:col-start-8 {
		grid-column-start: 8;
	}

	.s\:my-60 {
		margin-top: 6rem;
		margin-bottom: 6rem;
	}

	.s\:mt-0 {
		margin-top: 0rem;
	}

	.s\:mt-60 {
		margin-top: 6rem;
	}

	.s\:mr-0 {
		margin-right: 0rem;
	}

	.s\:mt-165 {
		margin-top: 16.5rem;
	}

	.s\:mt-70 {
		margin-top: 7rem;
	}

	.s\:mt-65 {
		margin-top: 6.5rem;
	}

	.s\:mr-80 {
		margin-right: 8rem;
	}

	.s\:mt-50 {
		margin-top: 5rem;
	}

	.s\:ml-135 {
		margin-left: 13.5rem;
	}

	.s\:mr-30 {
		margin-right: 3rem;
	}

	.s\:mr-20 {
		margin-right: 2rem;
	}

	.s\:ml-0 {
		margin-left: 0rem;
	}

	.s\:ml-\[-0\.075em\] {
		margin-left: -0.075em;
	}

	.s\:mb-120 {
		margin-bottom: 12rem;
	}

	.s\:mb-20 {
		margin-bottom: 2rem;
	}

	.s\:mb-0 {
		margin-bottom: 0rem;
	}

	.s\:mb-40 {
		margin-bottom: 4rem;
	}

	.s\:mb-60 {
		margin-bottom: 6rem;
	}

	.s\:block {
		display: block;
	}

	.s\:flex {
		display: flex;
	}

	.s\:grid {
		display: grid;
	}

	.s\:hidden {
		display: none;
	}

	.s\:h-\[27\.5rem\] {
		height: 27.5rem;
	}

	.s\:h-\[65rem\] {
		height: 65rem;
	}

	.s\:h-\[9rem\] {
		height: 9rem;
	}

	.s\:h-\[7rem\] {
		height: 7rem;
	}

	.s\:max-h-screen {
		max-height: 100vh;
	}

	.s\:w-\[40rem\] {
		width: 40rem;
	}

	.s\:w-\[7rem\] {
		width: 7rem;
	}

	.s\:min-w-\[9rem\] {
		min-width: 9rem;
	}

	.s\:max-w-\[65rem\] {
		max-width: 65rem;
	}

	.s\:max-w-\[9rem\] {
		max-width: 9rem;
	}

	.s\:max-w-\[30rem\] {
		max-width: 30rem;
	}

	.s\:grid-cols-20 {
		grid-template-columns: repeat(20, minmax(0, 1fr));
	}

	.s\:grid-cols-12 {
		grid-template-columns: repeat(12, minmax(0, 1fr));
	}

	.s\:grid-cols-2 {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	.s\:grid-cols-8 {
		grid-template-columns: repeat(8, minmax(0, 1fr));
	}

	.s\:grid-rows-1-forced {
		grid-template-rows: 1px;
	}

	.s\:flex-col {
		flex-direction: column;
	}

	.s\:gap-x-0 {
		-moz-column-gap: 0rem;
		     column-gap: 0rem;
	}

	.s\:gap-y-80 {
		row-gap: 8rem;
	}

	.s\:gap-y-50 {
		row-gap: 5rem;
	}

	.s\:whitespace-nowrap {
		white-space: nowrap;
	}

	.s\:rounded-none {
		border-radius: 0px;
	}

	.s\:border-\[1rem\] {
		border-width: 1rem;
	}

	.s\:px-20 {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	.s\:pt-130 {
		padding-top: 13rem;
	}

	.s\:pl-0 {
		padding-left: 0rem;
	}

	.s\:pr-10 {
		padding-right: 1rem;
	}

	.s\:pl-23 {
		padding-left: 2.3rem;
	}

	.s\:pb-0 {
		padding-bottom: 0rem;
	}

	.s\:pt-250 {
		padding-top: 25rem;
	}

	.s\:pl-10 {
		padding-left: 1rem;
	}

	.s\:pb-80 {
		padding-bottom: 8rem;
	}

	.s\:text-\[30rem\] {
		font-size: 30rem;
	}

	.s\:text-50 {
		font-size: 5rem;
	}

	.s\:text-13 {
		font-size: 1.3rem;
	}

	.s\:text-18 {
		font-size: 1.8rem;
	}

	.s\:text-25 {
		font-size: 2.5rem;
	}

	.s\:text-20 {
		font-size: 2rem;
	}

	.s\:text-\[17rem\] {
		font-size: 17rem;
	}

	.s\:text-110 {
		font-size: 11rem;
	}

	.s\:text-100 {
		font-size: 10rem;
	}

	.s\:text-52 {
		font-size: 5.2rem;
	}

	.s\:text-30 {
		font-size: 3rem;
	}

	.s\:after\:top-\[1\.25rem\]::after {
		content: "";
		top: 1.25rem;
	}

	.s\:after\:right-\[-1rem\]::after {
		content: "";
		right: -1rem;
	}

	.s\:after\:content-\[\'1\'\]::after {
		content: '1';
	}

	.s\:after\:content-\[\'2\'\]::after {
		content: '2';
	}

	.s\:after\:content-\[\'3\'\]::after {
		content: '3';
	}
}@media (min-width: 1024px) {

	.l\:inset-x-\[-30\%\] {
		left: -30%;
		right: -30%;
	}

	.l\:translate-y-\[1rem\] {
		--tw-translate-y: 1rem;
		transform: var(--tw-transform);
	}

	.l\:opacity-0 {
		opacity: 0;
	}

	.l\:transition-all {
		transition-property: all;
		transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
		transition-duration: 150ms;
	}

	.l\:duration-\[\.35s\] {
		transition-duration: .35s;
	}

	.l\:ease-out-expo {
		transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
	}

	.group:hover .l\:group-hover\:translate-y-0 {
		--tw-translate-y: 0rem;
		transform: var(--tw-transform);
	}

	.group:hover .l\:group-hover\:opacity-100 {
		opacity: 1;
	}
}@media (min-width: 1280px) {

	.xl\:inset-x-\[-17\.5\%\] {
		left: -17.5%;
		right: -17.5%;
	}
}


/* sac reyan ;))) */